<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tujuan Kopi</title>
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">A GOOD PLACE TO ENJOY YOUR COFFEE</span>
                <span class="site-heading-lower">TUJUAN KOPI</span>
            </h1>
        </header>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Tujuan Kopi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/">Home</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/about">About</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/product">Products</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/store">Store</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Blended to Perfection</span>
                                <span class="section-heading-lower">Coffees & Non-Coffees</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="images/img/kopi.jpg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Our coffee is crafted from the finest handpicked beans, carefully roasted to perfection to deliver a rich, bold flavor in every cup. Whether you're seeking a smooth and mellow experience or a strong and invigorating brew, our coffee offers a variety of blends to suit your taste. Enjoy the perfect balance of aroma and taste with every sip, making your daily coffee ritual a truly delightful moment. Elevate your coffee experience with us – where passion meets quality in every cup</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Delicious Treats, Good Eats</span>
                                <span class="section-heading-lower">DESSERT</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="images/img/dessert.jpg" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">"Indulge in the perfect fusion of flavor and elegance with our poured matcha dessert. This exquisite treat combines the rich, earthy essence of premium matcha with the creamy, smooth texture of a finely crafted dessert. Drizzled with freshly whisked matcha, it offers a harmonious blend of sweetness and a refreshing, slightly bitter matcha finish. Packed with antioxidants and natural energy, this dessert not only satisfies your sweet tooth but also nourishes the body and soul. Elevate your dessert experience with this luxurious, guilt-free matcha delight."</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Made with Premium Ingredients</span>
                                <span class="section-heading-lower">DELICIOUS FOOD</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="images/img/mainCourse.jpg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">"Savor the authentic taste of Italy with our delicious Spaghetti Bolognese. Made with perfectly cooked al dente spaghetti and smothered in a rich, slow-simmered Bolognese sauce, it’s a hearty meal bursting with flavor. Our Bolognese sauce is crafted from fresh tomatoes, tender ground meat, and a blend of aromatic herbs and spices, creating a comforting dish that brings the warmth of home-cooked Italian cuisine to your table. Whether for a quick dinner or a special occasion, our Spaghetti Bolognese is a satisfying, flavorful experience in every bite."</p></div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; Tujuan Kopi 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="javascripts/scripts.js"></script>
    </body>
</html>
